bin/
bin/*.*
log/
debug/
relase/
.vs/
.obj/
.vs
*.json
*.cache
*.cache
*.props
*.v2
*.vsidx
*.bin
*.lock
*.1

FinanceTest/bin
FinanceTest/obj
FinanceTest/.vs
FinanceTest/.vs/

AttDataCore/bin
AttDataCore/obj
AttDataCore/.vs

AttModel/bin
AttModel/obj
AttModel/.vs

BusinessCore/bin
BusinessCore/obj
BusinessCore/.vs

CICGateWay/bin
CICGateWay/obj
CICGateWay/.vs

Common/bin
Common/obj
Common/.vs

DataGuardXcore/bin
DataGuardXcore/obj
DataGuardXcore/log

AttEnumCode/bin
AttEnumCode/obj
AttEnumCode/log

MailJobService/bin
MailJobService/.vs
MailJobService/obj

TaskRunningPlan/bin
TaskRunningPlan/obj
TaskRunningPlan/log


LanguageResource/bin
LanguageResource/obj

TaskRunningPlan/obj/Debug
TaskRunningPlan/obj/Debug/netcoreapp3.1/TaskRunningPlan.assets.cache
TaskRunningPlan/obj/Debug/netcoreapp3.1/TaskRunningPlan.csproj.AssemblyReference.cache
TaskRunningPlan/obj/Debug/netcoreapp3.1/TaskRunningPlan.csproj.CoreCompileInputs.cache
TaskRunningPlan/obj/Debug/netcoreapp3.1/TaskRunningPlan.dll
TaskRunningPlan/obj/Debug/netcoreapp3.1/TaskRunningPlan.genruntimeconfig.cache
TaskRunningPlan/obj/Debug/netcoreapp3.1/TaskRunningPlan.pdb
TaskRunningPlan/obj/project.assets.json
TaskRunningPlan/obj/project.nuget.cache
TaskRunningPlan/obj/TaskRunningPlan.csproj.nuget.dgspec.json
TaskRunningPlan/obj/TaskRunningPlan.csproj.nuget.g.props
DataGuardXcore/bin/Debug/netcoreapp3.1/AttDataCore.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttDataCore.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttDataCore.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/AttendanceBussiness.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttendanceBussiness.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttendanceBussiness.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/AttEnumCode.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttEnumCode.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttEnumCode.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/AttModel.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttModel.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttModel.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/CICGateWay.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/CICGateWay.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/Common.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/Common.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/Common.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.StaticWebAssets.xml
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.Views.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.Views.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/FunctionProtected.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/FunctionProtected.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/LanguageResource.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/LanguageResource.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/LanguageResource.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/LogHelperCore.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/LogHelperCore.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/MailJobService.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/MailJobService.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/MailJobService.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/TaskRunningPlan.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/TaskRunningPlan.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/TaskRunningPlan.runtimeconfig.dev.json
DataGuardXcore/obj/DataGuardXcore.csproj.nuget.dgspec.json
DataGuardXcore/obj/DataGuardXcore.csproj.nuget.g.props
DataGuardXcore/obj/Debug/netcoreapp3.1/DataGuardXcore.AssemblyInfo.cs
DataGuardXcore/obj/Debug/netcoreapp3.1/DataGuardXcore.assets.cache
DataGuardXcore/bin/Debug/netcoreapp3.1/AttDataCore.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttDataCore.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttDataCore.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/AttendanceBussiness.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttendanceBussiness.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttendanceBussiness.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/AttEnumCode.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttEnumCode.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttEnumCode.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/AttModel.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/AttModel.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/AttModel.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/CICGateWay.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/CICGateWay.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/Common.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/Common.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/Common.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.StaticWebAssets.xml
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.Views.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/DataGuardXcore.Views.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/FunctionProtected.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/FunctionProtected.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/LanguageResource.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/LanguageResource.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/LanguageResource.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/LogHelperCore.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/LogHelperCore.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/MailJobService.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/MailJobService.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/MailJobService.runtimeconfig.dev.json
DataGuardXcore/bin/Debug/netcoreapp3.1/TaskRunningPlan.dll
DataGuardXcore/bin/Debug/netcoreapp3.1/TaskRunningPlan.pdb
DataGuardXcore/bin/Debug/netcoreapp3.1/TaskRunningPlan.runtimeconfig.dev.json
DataGuardXcore/obj/DataGuardXcore.csproj.nuget.dgspec.json
DataGuardXcore/obj/DataGuardXcore.csproj.nuget.g.props
DataGuardXcore/obj/Debug/netcoreapp3.1/DataGuardXcore.AssemblyInfo.cs
DataGuardXcore/obj/Debug/netcoreapp3.1/DataGuardXcore.assets.cache
